
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    img.auto {
        margin: 0 auto 10px;
    }

    div.interactive-slider-v2 {
        width: 100%;
        background: url('/assets/images/contract-945619_1280.jpg');
        background-size: cover;
    }

        div.interactive-slider-v2:after {
            background: rgba(0,0,0,.7);
        }
</style>

<div class="interactive-slider-v2" id="home-page-main-bg" style="min-height: 640px;">
    <meta itemprop="url" content="https://www.financebuddha.com/"><meta itemprop="name" content="Finance Buddha">
    <meta itemprop="description" content="Compare &amp; Apply Online for Personal Loan, Home Loan &amp; Business Loan from top banks. Check Rates, Special Offers &amp; Calculate EMI. Get Quick e-approval.">

    <div class="row row-points">
    </div>
</div>

