@model FBMicro.Web.Application.ViewModel.HomeLoanVM
@{
    ViewBag.Title = "Home Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="personal-loan-wrapper">
    <div class="row-personal-loan-container">
        <div class="row-personal-loan" itemscope="" itemtype="http://schema.org/Product">
            <div class="container">
                <h1>Home Loan</h1>
            </div>
            <div class="personal-loan-tab-panel">

                <div class="tab-content">
                    <div id="apply" class="tab-pane fade in active">
                        <div class="personal-apply-tab-form-wrapper home-loan">
                            <div class="container">
                                <div class="text-center">
                                    <form class="form-personal-apply form-home-apply" id="home-loan-apply-form" method="post" action="~/HomeLoan/Checkout">
                                        <div class="text-center" style="margin-left:15%;">
                                            <div class="row text-center personal-loan-mobile-row">

                                                <div class="col-md-10 col-lg-8 col-xs-12 col-sm-12 home-loan-no-padding">
                                                    <div class="form-group is-empty">

                                                        <label for="loan-amount-input" class="col-md-5 col-sm-5 col-xs-12 control-label">Loan Amount<sup>*</sup></label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                                            <input class="digit form-control has-rupee-icon has-slider" value="" maxlength="12"                                                                   
                                                                   name="LoanAmount" for="rangeInput" id="loan-amount-input"
                                                                   oninput="loanrangeInput.value=loan_amount.value" type="text">
                                                            <i class="form-control-feedback fa-rupee"></i>
                                                        </div>
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row text-center personal-loan-mobile-row">
                                                <div class="col-md-10 col-lg-8 col-xs-12 col-sm-12 home-loan-no-padding">
                                                    <div class="form-group is-empty">
                                                        <label for="bank-name-input" class="col-md-5 col-sm-5 col-xs-12 control-label">Bank to go with<sup>*</sup></label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12 home-loan-select">
                                                            @if (Model.BankDetailsList != null && Model.BankDetailsList.Any())
                                                            {
                                                                <select name="selectedBankId" id="bank-name-input">
                                                                    <option value="0" selected> - Select Bank - </option>
                                                                    @for (var bankDetail = 0; bankDetail < Model.BankDetailsList.Count; bankDetail++)
                                                                    {
                                                                        <option value="@Model.BankDetailsList[bankDetail].BankID">@Model.BankDetailsList[bankDetail].BankName</option>
                                                                    }
                                                                </select>
                                                            }
                                                        </div>
                                                    </div>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>

                                            <div class="row text-center personal-loan-mobile-row">

                                                <div class="col-md-10 col-lg-8 col-xs-12 col-sm-12 home-loan-no-padding">
                                                    <div class="form-group is-empty">
                                                        <label for="customer-name-input" class="col-md-5 col-sm-5 col-xs-12 control-label">Name<sup>*</sup></label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                                            <input class="form-control" value="" name="customer.CustomerName" id="customer-name-input"
                                                                   type="text">
                                                        </div>
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-center personal-loan-mobile-row">

                                                <div class="col-md-10 col-lg-8 col-xs-12 col-sm-12 home-loan-no-padding">
                                                    <div class="form-group is-empty">
                                                        <label for="customer-phone-input" class="col-md-5 col-sm-5 col-xs-12 control-label">Phone Number<sup>*</sup></label>
                                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                                            <input class="form-control" value="" name="customer.CustomerPhone" id="customer-phone-input"
                                                                   type="text">
                                                        </div>
                                                        <div class="col-xs-offset-5 col-xs-7"><span class="help-block" default=""></span></div>
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12">
                                                <div class="form-group text-center">
                                                    <button style="float:left; margin-left:12%;" onclick="return formsubmit()" type="button" class="btn btn-primary home-loan-btn-submit" id="check-out-offer-btn">
                                                        Check Out my Offers
                                                    </button>

                                                    <button style="float:left; margin-left:12%;" type="button" onclick="location.href = '/loandetails'" class="btn btn-primary home-loan-btn-submit" id="home-loan-details-btn">
                                                        Bank Loan Details
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function formsubmit() {
        var validationResult = true;
        if ($("#loan-amount-input").val() == '') {
            validationResult = false;
        }
        if ($("#bank-name-input").val() == '' && $("#bank-name-input").val() != '0') {
            validationResult = false;
        }
        if ($("#customer-name-input").val() == '') {
            validationResult = false;
        }
        if ($("#customer-phone-input").val() == '') {
            validationResult = false;
        }

        if (validationResult) {
            $("form#home-loan-apply-form").submit();
        }
        else {
            alert("Please enter all the required fields");
        }
    }
</script>