
<div id="footer-v3" class="footer-v3">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9 col-xs-12 footer-text">
                    <h2>Contact Us</h2> <div class="col-sm-6 col-md-5 col-xs-6 footer-text foot-div">
                        <p><i class="fa-telephone"></i><span>(080) 4090 9654</span></p>
                    </div> <div class="col-sm-6 col-md-7 col-xs-6 footer-text foot-div foot-div-exs-styling">
                        <p><i class="fa-mail"></i><span class="pfooter-span">support@financebuddha.com</span></p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 footer-text footer-text-social-icons">
                    <h2>Follow Us</h2> <a itemprop="sameAs" href="https://fb.com/financebuddha" target="_blank">
                        <i class="fa-facebook"></i>
                    </a> <a itemprop="sameAs" href="https://twitter.com/financebuddha" target="_blank">
                        <i class="fa-twitter"></i>
                    </a> <a itemprop="sameAs" href="https://www.linkedin.com/company/finance-buddha" target="_blank"><i class="fa-linkedin"></i></a>
                </div>
            </div> <!-- End Simple List -->
        </div>
    </div><!--/footer-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <!-- Terms Info-->
                <div class="col-md-12 col-sm-12 col-xs-12 footer-text text-center">
                    <p> Copyright © 2017 Finbud Financial Services Pvt Ltd </p> <p class="okok"></p>
                </div> <!-- End Terms Info-->
            </div>
        </div>
    </div><!--/copyright-->
</div>