
<div class="header-v6 header-sticky header-yellow header-fixed-shrink header-dark-res-nav" id="mainheader">
    <!-- Navbar --> <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <div class="login-button">
                    <a href="tel:(080) 4090 9654"><i class="fa-telephone"></i> (080) 4090 9654</a>
                </div> <!-- Navbar Brand -->
                <div class="navbar-brand">
                    <a href="/">
                        <img class="default-logo" crossorigin="anonymous" src="~/assets/images/header-logo.png" alt="Logo">
                    </a>
                </div>
                <!-- ENd Navbar Brand -->

            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="menu-container">

                </div>
            </div>
        </div>
    </div> <!-- End Navbar -->
</div>