
@{
    ViewBag.Title = "Bank Loan Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="offers-wrapper">

    <div class="container row-offers-container">
        <h1>Bank Loan Details</h1>
        <div class="row row-offers" itemscope="" itemtype="http://schema.org/Product">
            <meta itemprop="name" content="Personal Loan Offers"> <span itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
                <meta itemprop="name" content="Finance Buddha">
            </span>
            
            <meta itemprop="description" content="Compare personal loans from top banks. * Lowest Interest Rates * Special Offers * Check Eligibility * Calculate EMI * Apply Online Now">

            <div class="col-md-12 offers-table-container">
                <div class="table-responsive">
                    <table class="table table-stripped entries"  id="entriestable">
                        <thead>
                            <tr>
                                <th style="width: 543.667px;">Banks<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">Interest Rates (Below 30 Lks - Above 30 Lks)<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">Processing Fees (Below 30 Lks - Above 30 Lks)<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">MOD Charges<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">Document Charges<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">Fore closure Charges<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">PrePayment charges<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">Offers if any<i class="fa-down"></i></th>
                                <th class="hidden-xs" style="width: 543.667px;">Apply Now<i class="fa-down"></i></th>
                            </tr>
                        </thead>
                        <tbody id="personal-loan-offers-container" class="loanoffer ">
                            <tr>
                                <td> <img src="~/assets/banks/logos/axis.png" class="img-responsive offers-table-bank-image" alt="Axis Bank" title="Axis Bank"> </td>
                                <td class="hidden-xs"> 13.50% - 24.00%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/bajajfinserv.png" class="img-responsive offers-table-bank-image" alt="Bajaj Finance" title="Bajaj Finance"> </td>
                                <td class="hidden-xs"> 13.00% - 18.00%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="~/assets/banks/logos/capitalfirst.png" class="img-responsive offers-table-bank-image" alt="Capital First" title="Capital First">
                                </td>
                                <td class="hidden-xs"> 13.00% - 20.00%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/citi.png" class="img-responsive offers-table-bank-image" alt="Citi Bank" title="Citi Bank"> </td>
                                <td class="hidden-xs"> 11.99% - 15.75%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/hdfc.png" class="img-responsive offers-table-bank-image" alt="HDFC Bank" title="HDFC Bank"> </td>
                                <td class="hidden-xs"> 11.49% - 19.50%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/icici.png" class="img-responsive offers-table-bank-image" alt="ICICI Bank" title="ICICI Bank"> </td>
                                <td class="hidden-xs"> 11.49% - 17.85%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/indusind.png" class="img-responsive offers-table-bank-image" alt="IndusInd Bank" title="IndusInd Bank"> </td>
                                <td class="hidden-xs"> 11.99% - 14.75%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/kotak.png" class="img-responsive offers-table-bank-image" alt="Kotak Mahindra Bank" title="Kotak Mahindra Bank"> </td>
                                <td class="hidden-xs"> 13.00% - 18.00%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/scb.png" class="img-responsive offers-table-bank-image" alt="Standard Chartered Bank" title="Standard Chartered Bank"> </td>
                                <td class="hidden-xs"> 11.99% - 14.50%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                            <tr>
                                <td> <img src="~/assets/banks/logos/tatacapital.png" class="img-responsive offers-table-bank-image" alt="Tata Capital" title="Tata Capital"> </td>
                                <td class="hidden-xs"> 13.50% - 17.00%<p>(fixed)</p> </td>
                                <td class="hidden-xs">13.50% - 24.00%<p>(fixed)</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">upto 2.5%</td>
                                <td class="hidden-xs">offeres</td>
                                <td class="hidden-xs"><a class="btn btn-primary offers-btn-apply-now offers-disabled-btn" role="button">Apply Now</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="center loader hidden" id="personal-loan-offers-loader">
                        <img class="img-responsive text-center" src="~/assets/images/loaders/loading-wallet.gif" alt="Loading Wallet">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>